html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin:0;
}
header {
    display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.main-nav ul{
    display: flex;
    float: right;
}
.main-nav-first li, .main-nav-second li{ 
    padding: 0px 33px;
    font-size:20px;
}
.main-nav-first li{
    margin-top:20px;
}
.main-nav-second li{
    margin-top:-11px;
    padding-left:0px;
}
.main-nav-first li:nth-child(3):after{
    content: '\25bc';
    font-size:12px;
}
.main-nav-first li:nth-child(5):after{
    content: '\25bc';
    font-size:12px;
}
.fa-shopping-cart:before{
    margin-left: 0px;
    margin-right:10px;
}
.fa-shopping-cart:after{
    margin-left: 30px;
    content: '';
    border: 1px solid black;
    padding: 10px 0;
}
.fa-search:before{
    margin-left:-33px;
}
.main-screen ul{
    display:contents;
}
.main-screen li{
    width: 100%;
}
.main-screen li:first-of-type img{
    height: auto;
    width:77%;
    float: left;
    padding-right: 10px;
    margin-top: 10px;
}
.main-screen li:nth-child(2) img{
    margin-top: 10px;
    float: left;
}
.main-screen li:nth-child(3) img{
    height: 232px;
    margin-top: 12px;
    width: 22.2%;
}
section.stripe-large {
    background: url(../images/d.jpg);
    background-size: cover;
    height: 412px;
    position: relative;
    text-align: center;
    margin-top: 6px;
}
section.stripe-large h2 {
    position: relative;
    font-family:Roboto;
    color:white;
    font-size:40px;
    padding-top: 126px;
}
.stripe-large__container{
    position: absolute;
    top:28%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.stripe-large__container input{
    padding: 15px 440px 16px 11px;
}
.stripe-large__container .fa-search{
    margin-left: -4px;
    color:gray;
}

.package-list {
    display: flex;
    flex-wrap: wrap;
    width:925px;
    margin-left: 235px;
    justify-content: space-evenly;
    padding:10px;
    margin-top: 100px;
}
.package-list__item{
    padding: 20px;
    width: 250px;
}
.package-list__item img{
    height: 200px;
    width: 291px;
    margin-left: -21px;
    margin-top: -21px;
}
.details{
    border: 2px solid gray;
    height: 200px;
    width: 288px;
    margin-left: -22px;
    margin-top: -42px;
}
.details h3{
    text-align: justify;
}
.details h4{
    padding:32px 20px;
    color: #3f3f3f;
    font-family: "Cabin","Oswald",arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 16px 0 16px;
    text-align: justify;
    text-align-last:center;
    text-transform: uppercase;
    margin-bottom: -28px;
}
.details .fa-heart{
    color:gray;
    margin-left: 200px;
}
.details a{
    color: #3f3f3f;
    font-size: 32px;
    margin: 0 0 16px;
    padding: 0 6%;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
}
.circle{
    position: relative;
    margin-top: -100px;
    left: 40%;
    border-radius: 50%;
    font-size: 3em;
    justify-content: center;
    
}
.fa-pencil{
    background: #1b5b68;
	color: #000000;
    padding: 20px 20px;
}























.fa-twitter{
	background: #1b5b68;
	color: #FFFFFF;
    padding: 11px 12px;
}
.fa-facebook {
    background: #1b5b68;
	color: #FFFFFF;
    padding: 10px 14px;
}
.fa-google-plus{
    color: #FFFFFF;
    background: #1b5b68;
    padding: 10px 8px;
}
.fa-camera{
    color:#FFFFFF;
    background: #1b5b68;
    padding:11px 11px;

}










