.topnav ul {
    float: right;
}

.nav-top {
    float: right;
}

.topnav li {
    float: left;
}

.topnav ul li a , .dropdown .dropbtn{
    color: black;
    padding: 14px 21px;
    font-size: 22px;
}
