nav a {
    color: black;
}

.topnav ul {
    float: right;
}

.topnav li {
    float: left;
}

.topnav ul li a {
    padding: 14px 14px;
}

.topnav ul li a,
.dropdown .dropbtn {
    padding: 14px 10px;
    color: black;
    font-size: calc(13px + (20 - 13) * ((100vw - 768px) / (1024 - 768)));
}

nav .nav-bottom {
    padding-left: 60%;
}

.main-screen {
    flex-direction: column;
}

.grid-item2 img {
    width: 50%;
    padding-top: 0;
    height: 280px;
    object-fit: cover;
}

.grid-item2 img:first-child {
    padding-right: 10px;
}

.grid-item1 {
    padding-bottom: 3px;
}

.grid-item2 {
    flex-direction: row;
    width: 100%;
    padding-left: 0px;
}

.grid-item2 img:first-child {
    height: 280px;
    object-fit: cover;
    padding-right: 10px;
}

/* .package-list {
    width: 85%;
}

.package-list__item {
    width: 41%;
}

.package-list__item img {
    width: 100%;
}

.package-list-details {
    width: 99.4%;
} */

.package-list__item {
    width: 45%;
    padding: 0 15px 30px 15px;
}

.package-list {
    width: 660px;
}

.package-list__item img {
    width: 100%;
}

.package-list-details {
    width: 99.2%;
}

.rate a {
    font-size: 20px;
}

.details a {
    font-size: 25px;
}

.container__images h3 {
    left: 22%;
    top: 36%;
    font-size: 35px;
}

.circle1 {
    left: 40%;
    top: 165px;
}
.footer-nav{
    width: 63%;
}