html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin:0;
}
header {
    display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.main-nav ul{
    display: flex;
    float: right;
}
.main-nav-first li, .main-nav-second li{ 
    padding: 0px 32px;
    font-size:20px;
}
.main-nav-first li{
    margin-top:20px;
}
.main-nav-second li{
    margin-top:-11px;
    padding-left:0px;
}
.main-nav-first li:nth-child(3):after{
    content: '\25bc';
    font-size:12px;
}
.main-nav-first li:nth-child(5):after{
    content: '\25bc';
    font-size:12px;
}
.fa-shopping-cart:before{
    margin-left: 0px;
    margin-right:10px;
}
.fa-shopping-cart:after{
    margin-left: 30px;
    content: '';
    border: 1px solid black;
    padding: 5px 0;
}
.fa-search:before{
    margin-left:-33px;
}
.main-screen ul{
    display:contents;
}
.main-screen li{
    width: 100%;
}
.main-screen li:first-of-type img{
    height: auto;
    width:77%;
    float: left;
    padding-right: 10px;
    margin-top: 10px;
}
.main-screen li:nth-child(2) img{
    margin-top: 10px;
    float: left;
}
.main-screen li:nth-child(3) img{
    height: 232px;
    margin-top: 12px;
    width: 22.2%;
    object-fit: cover;
}
section.stripe-large {
    background: url(../images/d.jpg);
    background-size: cover;
    height: 412px;
    position: relative;
    text-align: center;
    margin-top: 6px;
}
section.stripe-large h2 {
    position: relative;
    font-family:Roboto;
    color:white;
    font-size:40px;
    padding-top: 126px;
}
.stripe-large__container{
    position: absolute;
    top:28%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.stripe-large__container input{
    padding: 10px 30px 15px 15px;
    width: 355px;
}
.stripe-large__container .fa-search{
    margin-left: -4px;
    color:gray;
}
.package-list {
    display: flex;
    flex-wrap: wrap;
    width:925px;
    margin-left: 200px;
    justify-content: space-evenly;
    padding:10px;
    margin-top: 100px;
}
.package-list__item{
    padding: 20px;
    width: 250px;
}
.package-list__item img{
    height: 200px;
    width: 292px;
    margin-left: -21px;
    margin-top: -21px;
    object-fit: cover;
}
.package-list-details{
    position: relative;
    border: 1px solid gray;
    border-width: 0 1px 1px 1px;
    height: 200px;
    width: 290px;
    margin-left: -21px;
    margin-top: -44px;
}
.package-list-details .rate{
    position: absolute;
    left: 15%;
    top: 75%;
}
.package-list-details .type{
    position: absolute;
    color: gray;
    left: 35%;
    top: 22%;
}
.package-list-details .details{
    position: absolute;
    top:40%;
    text-align: center;
}
.fa-heart{
    color:#3f3f3f;
    margin-left: 120px;
}
.details a{
    color: #3f3f3f;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Oswald', arial, sans-serif;
    line-height: 1;
    letter-spacing: 1px;
}
.rate a{
    color:#3f3f3f;
}
.circle{
    position: relative;
    margin-top: -100px;
    left: 40%;
    border-radius: 57%;
    justify-content: center;
}
.fa-pencil-alt{
    background: #1b5b68;
	color: #000000;
    padding: 20px 20px;
}
.fa-pencil-alt:before{
    font-size: 28px;
}
.container__images ul{
    display: flex;
    flex-wrap: wrap;
}
.help-list{
    display: flex;
    background-color: #646d1c;
    height: 180px;
    padding-top: 85px;
    color:white;
    justify-content: center;
}
.help-list .item{
    position: relative;
    height:100px;
    width:33.33%;
}
.item .help{
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    width: 150px;
    margin-right: auto;
}
.item .donate{
    position: absolute;
    top: 145%;
    left: 45%;
    text-decoration: underline;
}
.item a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.item.sub{
    border:1px solid white;
    border-width:0 1px 0 1px;
}
.fa-book-open{
    position: relative;
    left:46%;
}
.fa-book-open:before{
    font-size: 25px;
}
.container__images{
    position: relative;
    padding-top: 20px;
}
.container__images ul{
    margin-left: -40px;
}
.container__images img{
    height: 200px;
    width: 224.5px;
    object-fit: cover;
    margin-top: -3px;
}
.container__images h3{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:35px;
    text-shadow: 2px 2px gray;
}
.footer{
    width: 100%;
    height: 250px;
    position: relative;
    background: #1b5b68;
}
.footer .icons{
    position: absolute;
    right:50%;
    top:10%;
}
.footer-nav .footer1{
    position: absolute;
    top: 40%;
    left: 10%;
    color:white;
}
.footer-nav .footer2{
    position: absolute;
    top: 40%;
    left: 25%;
    color:white;
}
.footer-nav .footer3{
    position: absolute;
    top: 40%;
    left: 40%;
    color:white;
}
.footer-nav .footer4{
    position: absolute;
    top:75%;
    left: 40%;
    color:white;
}
.footer-nav .form{
    position: absolute;
    top: 55%;
    left: 60%;
}
.footer-nav input{
    background: #1b5b68;
    padding: 7px 23px;
    color:white;
}
.footer-nav button{
    padding:7px;
}
.fa-twitter{
	background: #ffffff;
	color: #1b5b68;
    padding: 11px 12px;
}
.fa-twitter:before{
    font-size: 25px;
}
.fa-facebook-f {
    background: #ffffff;
	color: #1b5b68;
    padding: 11px 18px;
}
.fa-facebook-f:before{
    font-size: 25px;
}
.fa-google-plus-g{
    color: #1b5b68;
    background: #ffffff;
    padding: 10px 8px;
}
.fa-google-plus-g:before{
    font-size:25px;
}
.fa-camera{
    color:#1b5b68;
    background: #ffffff;
    padding:11px 11px;
}
.fa-camera:before{
    font-size: 25px;
}



