.topnav ul {
    float: right;
}

.topnav li {
    float: left;
}

.topnav ul li a,
.dropdown .dropbtn {
    padding: 14px 11px;
    color: black;
    font-size: calc(17px + (25 - 17) * ((100vw - 1025px) / (1280 - 1025)));
}

nav .nav-bottom {
    padding-left: 60%;
}

.footer-nav {
    width: 70%;
}

.container__images h3 {
    left: 30%;
    top: 82px;
}